@model VinylStore.Models.SearchVinyl2

@{
    ViewData["Title"] = "Search Result";
}
<div class="text-white">
    <h1>Search result</h1>
    <table class="table table-striped text-white">
        @for (int i = 0; i < Model.albums.items.Length; i++)
        {
            <tr>
                <td>
                    <img src="@Model.albums.items[i].images[0].url" alt="Image not available" height="150" width="150" />
                </td>
                <td>
                    @Model.albums.items[i].name
                </td>
            </tr>
        }
    </table>







    @*@foreach (var item in Model.)
        {
            if (item.format != null)
            {
                if (item.format.Contains("Vinyl"))
                {
                    <tr>
                        <td><img src="@item.cover_image" alt="Alternate Text" height="150" width="150" /></td>
                        <td class="text-white"> @item.title</td>
                        <td>
                            <div>
                                @Html.ActionLink("Add to Collection", "AddToUserCollection", "Collection",
                               new { albumName = item.title, genre = item.genre, imageUrl = item.cover_image, releaseYear = item.year, format = item.format })
                            </div>
                            <div>
                                @Html.ActionLink("Add to Wantlist", "AddToUserWantlist", "Wantlist",
                               new { albumName = item.title, genre = item.genre, imageUrl = item.cover_image, releaseYear = item.year, format = item.format })
                            </div>
                        </td>
                    </tr>
                }
            }
        }*@
    
    
</div>

