@model VinylStore.ViewModels.VinylViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="text-white">
    <h1>Create</h1>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <img src="@Model.ImageUrl" alt="Alternate Text" height="250" width="250" />
                    <input asp-for="ImageUrl" class="form-control" type="hidden" />
                </div>
                <div class="form-group">
                    <strong><label asp-for="AlbumName" class="control-label">Album</label></strong>                    
                    <input asp-for="AlbumName" class="form-control" />
                    <span asp-validation-for="AlbumName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="ArtistName">Artist</label></strong>
                    <div class="">@Model.ArtistName</div>
                    <input asp-for="ArtistName" class="form-control" type="hidden" />
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="Genres" class="control-label"></label></strong>
                    <input asp-for="Genres" class="form-control"/>
                    <span asp-validation-for="Genres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="TrackList">Tracks</label></strong>
                    <div class="">@Model.TrackList</div>
                    <input asp-for="TrackList" class="form-control" type="hidden" />
                    <span asp-validation-for="TrackList" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="ReleaseYear">Year</label></strong>
                    <div class="">@Model.ReleaseYear</div>
                    <input asp-for="ReleaseYear" class="form-control" type="hidden" />
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="Description" class="control-label"></label></strong> 
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong><label asp-for="Label">Label</label></strong>
                    <div class="">@Model.Label</div>
                    <input asp-for="Label" class="form-control" type="hidden" />
                    <span asp-validation-for="Label" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="SpotifyAlbumId" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <strong><label asp-for="Price" class="control-label"></label></strong> 
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
</div>


