@model IEnumerable<VinylStore.ViewModels.VinylShortViewModel>

@{
    ViewData["Title"] = "My Collection";
}

<div class="text-white">
    <p hidden>vous avez comme id : @ViewBag.UserId et comme nom : @ViewBag.UserName</p>
    <h1 class="text-white">Your collection :</h1>


    <table class="table table-striped text-white">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="Image not available" height="150" width="150" />
            </td>
            <td>
                @item.ArtistName
            </td>
            <td>
                @item.AlbumName
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <div>
                    @Html.ActionLink("Details", "Details", "Collection", new { vinylId = item.VinylId }, new { @class = "btn btn-outline-success" })
                </div>
                <div>
                    @Html.ActionLink("Delete", "Delete", "Collection", new { vinylId = item.VinylId }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
        }
    </table>
</div>

