@model IEnumerable<VinylStore.ViewModels.VinylShortViewModel>

@{
    ViewData["Title"] = "My Wantlist";
}

<div class="text-white">
    <p>vous avez comme id : @ViewBag.UserId et comme nom : @ViewBag.UserName</p>
    
    <div class="row">
        <h1 class="text-white">Your wantlist:</h1> 
        <form method="get" asp-action="FindSellers" asp-controller="Wantlist">
            <button class="btn btn-outline-success mx-5 my-1" type="submit" >
                Find sellers!
            </button>
        </form>
    </div>


    <table class="table table-striped text-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="Image not available" height="150" width="150" />
                </td>
                <td>
                    @item.ArtistName
                </td>
                <td>
                    @item.AlbumName
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Details", "Details", "Vinyl", new { id = item.VinylId }, new { @class = "button button-primary" })
                    </div>
                    <div>
                        @Html.ActionLink("Delete", "Delete", "Wantlist", new { vinylId = item.VinylId }, new { @class = "button button-danger" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


