@model IEnumerable<VinylStore.ViewModels.VinylForSaleViewModel>

@{
    ViewData["Title"] = "FindSellers";
}

<div class="text-white">
    <h2>Users that have what you need</h2>
</div>

<table class="table text-white">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Vinyl
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vinyl.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vinyl.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Vinyl", new { id = item.Vinyl.Id }, new { @class = "btn btn-outline-success"})
                </td>
                <td>
                    @*@Html.ActionLink("Buy!", "Buy", "Vinyl", new { vinylId = item.Vinyl.Id }, new { @class = "btn btn-outline-success" })*@
                    <a class="btn btn-outline-success" 
                       asp-controller="Wantlist" asp-action="Buy" asp-route-vinylId="@item.Vinyl.Id" asp-route-buyerId="@User.Identity.Name"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
    <form class="form-container">
        <h1>Chat</h1>

        <span id="senderName" hidden>@User.Identity.Name</span>

        <label><b>Send to :</b></label>
        <textarea placeholder="Type the name of the other user.." id="receiverName" required></textarea>

        <label><b>Message :</b></label>
        <textarea placeholder="Type message.." id="messageInput" required></textarea>

        <button type="submit" class="btn" id="sendButton">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>*@








